In [8]:
#wap to classify a number as prime or non prime
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print("not a prime number")
            break
    else:
        print(" prime number")
else:
    print("print number")

Enter a number:  7

 prime number

In [7]:
#wap to calculate factorial of a number using for loop

num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(factorial)

Enter a number:  5

120

In [11]:
#wap that display all leap years from 1900 to 2101

for x in range(1900, 2102):
    if (x % 4 == 0 and x % 100 != 0) or (x % 400 == 0):
        print(x)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [16]:
#wap to sum the series 1+1/2+1/3+...1/x

x = int(input())
s = float(0)
for i in range(1, x + 1):
    s = s+ 1/i
print(s)

 5

2.283333333333333

In [18]:
#break statement
for i in range(4):
    for j in range(4):
        if j==1:
            break
        print(i,j)

0 0
1 0
2 0
3 0

In [19]:
#continue statement
first=[2,4,6]
second=[2,4,6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i,j)

2 4
2 6
4 2
4 6
6 2
6 4

In [20]:
#pass statement(used to write empty loops,empty control statements,functions and classes)

In [28]:
list1=['Physics','chemistry',1997,2000]
list2=[1,2,3,4,5,6,7]
print(list1[0])
print(list2[1])

Physics
2

In [30]:
#negative indexing
list1=['Physics','chemistry',1997,2000]
list2=[1,2,3,4,5,6,7]
print(list1[-1])
print(list2[-1])

2000
7

In [31]:
#append element in list(can also use insert(),extend()(can add multiple element through extend()))
list1=['Physics','chemistry',1997,2000]
list1.append("Shashank")
print(list1)

['Physics', 'chemistry', 1997, 2000, 'Shashank']

In [1]:
list=['G','E','E','K','S','F','O','R','G','E','E','K','S']
print(list)
sliced_list=list[:-6]
print(sliced_list)
sliced_list=list[-6:-1]
print(sliced_list)
sliced_list=list[::-1]
print(sliced_list)

['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']
['G', 'E', 'E', 'K', 'S', 'F', 'O']
['R', 'G', 'E', 'E', 'K']
['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [2]:
#list comprehension
odd_square = [x**2 for x in range(1,11) if x%2==1]
print(odd_square)

[1, 9, 25, 49, 81]

In [3]:
#Nested List
list1=[1,'a',"abc",[2,3,4,5],8,9]
i=0
while i<(len(list1)):
    print("list1[",i,"] = ",list1[i]

SyntaxError: incomplete input (1975564772.py, line 5)

In [4]:
#program to copy as well as the clone of the original list
#program to illstruate operation on a stack
#peep operation
#list as queue 
#list as stack
#looping in list
#program to print the elements in the list using an iterator

In [7]:
queue=[1,2,3,4,5,6]
print(queue)
queue.append(7)
print(queue)
queue.pop(0)
print(queue)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]

In [11]:
list=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list:
    sum+=i
print("sum of elements in the list=",sum)
print("Average of elements in the list=", float(sum/float(len(list))))

sum of elements in the list= 55
Average of elements in the list= 5.5

In [12]:
list=[1,2,3,4,5]
for index,i in enumerate(list):
    print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [13]:
list=[1,2,3,4,5]
for i in range(len(list)):
    print("index:",i)

index: 0
index: 1
index: 2
index: 3
index: 4

In [15]:
list=[1,2,3,4,5]
it = iter(list)
for i in range(len(list)):
    print("element at index", i , "is", next(it))

element at index 0 is 1
element at index 1 is 2
element at index 2 is 3
element at index 3 is 4
element at index 4 is 5

In [16]:
#python functions
#what do you mean by function overloading
#user defined function
#pass by reference/value
#python function arguments
#keyword arguments
#positional arguments
#variable length argument
#docstring
#anonymous function in python
#lambda function in python
#reciprocal
#lambda function with filter
#recursive functions
#return statement

In [23]:
def square(item_list):
    squares = []
    for i in item_list:
        squares.append(i**2)
    return squares

my_list = [17, 52, 8]
result = square(my_list)
print(result)

[289, 2704, 64]

In [35]:
def check_even_odd(x):
    if x % 2 == 0:
        return "Even"
    else:
        return "Odd"
number = 7
result = check_even_odd(number)
print(number ,"is", result)

7 is Odd

In [42]:
#positional argument
def add_numbers(a, b):
    return a + b
result = add_numbers(3, 5)
print(result)

8

In [39]:
# Lambda function to add 10 to a given number
add_ten = lambda x: x + 10
result = add_ten(5)
print(result)

15

In [45]:
a=lambda x,y:x*y
print(a(4,5))

20

In [46]:
a=lambda x,y,z:x+y+z
print(a(4,5,5))

14

In [48]:
#global variable and local variable 
var = "good"
def show():
    global var1
    var1 = "Sunday"
show()
print("Outside function var1 is", var1)
print(var)

Outside function var1 is Sunday
good

In [55]:
#even or odd using function and return statement
def even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

num = int(input())
result = even_odd(num)
print(num ,"is", result)

 5

5 is Odd

In [56]:
#wap using function to subtract two numbers
def subtract_numbers(a, b):
    return a - b
num1 = int(input())
num2 = int(input())
result = subtract_numbers(num1, num2)
print("The result of subtracting", num2 ,"from", num1 ,"is", result)

 5
 4

The result of subtracting 4 from 5 is 1

In [60]:
#wap to convert time into minutes
def convert(h, m):
    tm = h * 60 + m
    return tm
h = int(input())
m = int(input())
tm = convert(h, m)
print(tm)

 5
 40

340

In [62]:
#wap to swap two numbers
def swap(x,y):
    return y,x
x = int(input())
y = int(input())
x,y = swap(x,y)
print(x,y)

 4
 5

5 4

In [69]:
#wap to calculate simple interest suppose the customer is senior citizen and he is offered a interest rate of 12% and other customers are offered a interest rate of 10%
'''age=int(input())
P= float(input())
T= int(input())
if age>60:
    print((P*12*T)/100)
else:
    print((P*10*T)/100)'''

age=int(input())
P= float(input())
T= int(input())

def calculate(age,P,T):
    if age>60:
     interest = (P*12*T)/100
     return interest
    else:
     interest = (P*10*T)/100
     return interest

X = calculate(age,P,T)
print(X)

 65
 100
 1

12.0

In [ ]:
#recursion function
def recursive(n):
    if n<=1:
        return n
    else:
        return (recursive(n-1)+recursive(n-2))
x=int(input())
n = recursive(x)
print(n)