In [11]:
number = int(input("Enter a number: "))
multiples = [number * i for i in range(1, 11)]
print("The first 10 multiples of", number, "are:", multiples)

Enter a number:  2

The first 10 multiples of 2 are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
t=int(input("Enter the value"))
def search(m):
    if t in m:
    
        print("It is present")
    else:
        print("It is not present")

Enter the value 35

In [13]:
search(multiples)

It is not present

In [4]:
import array as arr
l=[1,2,3,4,5,6,7,8,9,10]
a=arr.array("i",l)
for i in (a):
    print(i,end=" ")
slice_array= a[3:8]
print("Slicing element in a range")
print(slice_array)
slice_array=a[5:]
print("Elements after 5 indexing")
print(slice_array)
slice_array=a[:]
print("Print all element after slice operation")
print(slice_array)

1 2 3 4 5 6 7 8 9 10 Slicing element in a range
array('i', [4, 5, 6, 7, 8])
Elements after 5 indexing
array('i', [6, 7, 8, 9, 10])
Print all element after slice operation
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [5]:
def Sorting(lst):
    lst=sorted(lst,key=len)
    return lst
lst=["raj","shimla","neha","tina"]

In [6]:
Sorting(lst)

['raj', 'neha', 'tina', 'shimla']

In [20]:
def bubblesort(l):
    n = len(l)

    for i in range(n-1):

        for j in range(n - i-1):
            if l[j] > l[j + 1]:
                l[j], l[j + 1] = l[j + 1], l[j]

In [11]:
#Creating Tuple
Tuple1=tuple("sam")
Tuple2=("ram","hanuman","mahakal")
print("tuple value")
print(Tuple1)
print(Tuple1,Tuple2)

tuple value
('s', 'a', 'm')
('s', 'a', 'm') ('ram', 'hanuman', 'mahakal')

In [12]:
Tuple1=("ram","hanuman","mahakal")
a,b,c=Tuple1
print("sequence formend")
print(a)


print(b)
print(c)

sequence formend
ram
hanuman
mahakal

In [ ]:
tuple1=(0,1,2,3,4)
a=max(tuple1)
b=min(tuple1)
avg=(sum(tuple1))/len(tuple1)
print(a,b,avg)
tuple2=("sam","ram","riya")
tuple3=tuple1+tuple2
print(tuple3)
tuple3[2:]
tuple3[::-2]
#Tuple are inmutable and cannot be deleted

In [33]:
#Tuple Assignment 
T=("Jan","Feb","Mar")
for i in range(len(T)):
    print(T[i])

Jan
Feb
Mar

In [6]:
#.Given two variables Swap?
a, b = 7, 3
a, b = b, a
print(f"After swapping: a = {a}, b = {b}")

After swapping: a = 3, b = 7

In [13]:
def area(r):
    a=3.14*r*r
    b=2*3.14*r
    return a,b
    
area(9)

(254.34, 56.52)

In [16]:
#Email scan  and spl
email=input("Enter the value")
def fun(email):
    username,domain=email.split("@")
    return username,domain
username,domain = fun(email)
print(username)
print(domain)

Enter the value a@xgsdv

('a', 'xgsdv')

In [1]:
# Function to print the details of toppers
# Function to print the details of toppers
def print_toppers(toppers):
    print("Toppers' Details:")
    for topper in toppers:
        print(f"Name: {topper[0]}, Course: {topper[1]}, Marks: {topper[2]}")

# Initial list of toppers
toppers = [
    ['Srun', 'MSC', 93],
    ['Amit', 'BSC', 89],
    ['Neha', 'BCA', 95]
]

# Print initial details
print_toppers(toppers)

# Function to edit topper details
def edit_topper(toppers, index, name=None, course=None, marks=None):
    if 0 <= index < len(toppers):
        if name:
            toppers[index][0] = name
        if course:
            toppers[index][1] = course
        if marks:
            toppers[index][2] = marks
    else:
        print("Invalid index")

# Edit details of the first topper
edit_topper(toppers, 0, name='Saurav', course='MSC', marks=94)

# Print updated details
print_toppers(toppers)

Toppers' Details:
Name: Srun, Course: MSC, Marks: 93
Name: Amit, Course: BSC, Marks: 89
Name: Neha, Course: BCA, Marks: 95
Toppers' Details:
Name: Saurav, Course: MSC, Marks: 94
Name: Amit, Course: BSC, Marks: 89
Name: Neha, Course: BCA, Marks: 95